.popup {
  display: none; /* Hidden by default */
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
}
.pop-up-background{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.5);
}

/* Modal Content/Box */
.popup-content {
  z-index: 2;
  background-color: white;
  color: rgba(45, 45, 45, 1);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px;
  border-radius: 12px;
  width: 50%;
  max-width: 500px;
}

.popup .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -28px;
  margin-right: -18px;
}
.popup .close:hover,
.popup .close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.btn-margin {
  margin-top: 15%;
  margin-left: 5%;
}

.no-background {
  background: transparent !important;
  color: gray;
}
.no-background:hover {
  color: rgb(60, 60, 60);
}

/* The Close Button */
.popup .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup .close:hover,
.popup .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
