@media screen and (max-width:1020px) {
    .start{
        background-image: none !important;
    }
    .maincontainer.top{
        flex-direction: column;
    }
    .start .mainform{
        margin-top: 30px;
    }
    .maincontainer.top{
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    #top-text{
        padding: 30px 0;
        width: 100%;
        margin-right: 0;
    }
    #top-text > *{
        margin: 0 0 0 calc(50% - 200px);
    }
    .start .stats > div{
        height: 100%;
        background-color: rgba(45, 45, 45, 1);
    }
    .bottom-border{
        background-color: rgba(45, 45, 45, 1);
    }

    #mail-right-col {
        padding: 0;
    }
}
@media screen and (max-width:1300px) {
    .maincontainer {
        width: 90%;
        margin: auto;
        padding: 40px 10px 15px 10px;
    }

    .start{
        min-height: 500px;
    }

    .start h1{
        font-size: 55px;
    }

    footer {
        width: calc(100vw - 24px);
        padding: 40px 3% 15px 3%;
    }
}

@media screen and (max-width:800px) {
    .content .container {
        width: 100%;
    }
    .content .main{
        width: 90%;
    }
    .maincontainer {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .start{
        min-height: 1000px;
    }

    .start h1{
        font-size: 50px;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .share-container {
        max-width: 300px;
        width: 60vw;
        margin-left: auto
    }

    .share-mobile {
        padding-left: 30px;
        display: initial;
        font-weight: 700;
        font-size: 20px;
        color: rgba(45, 45, 45, 1);
    }

    .share {
        display: none;
    }

    .sidebar .share-container .bg-colored {
        margin-top: 8px;

        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }

    .share-container .social img {
        width: 20px;
    }

    .sidebar .bg-colored {
        border-radius: 0;
        margin: 0;
    }

    .content .sidebar {
        display: block;
        width: 100vw;
        margin-top: 0;
    }

    .sidebar > .content {
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .sidebar > div:last-child {
        display: none;
    }
    .call-out-container{
        flex-direction: column-reverse;
    }
    .call-out-why{
        margin: 20px 0;
    }
    #depute-form{
        flex-direction: column;
    }
    #depute-form button {
        margin: 30px 0 10px;
    }
    .paragraph{
        font-size: 16px;
    }
    #button-before-sidebar {
        display: flex;
        margin-top: 40px;
    }
    .popup-content{
        width: initial !important;
    }
    .popup-content .btn{
        font-size: 18px;
    }
}

@media screen and (max-width:600px) {
    .is-shown-mobile{
        display: block;
    }
    .is-hidden-mobile{
        display: none;
    }
    /* top section */
    .stats-details{
        width: 100%;
        padding-bottom: 5px;
        margin-bottom: 5px;
        height: initial;
    }
    .side{
        display: none;
    }
    .bottom-border{
        display: none;
    }
    .maincontainer {
        padding: 20px 2px 10px 2px;
    }
    .has-text-shadowed-mobile{
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.72);
    }
    .has-text-shadowed-mobile.title {
        text-shadow: none;
    }
    .people-icon{
        width: 30px !important;
        height: 30px !important;
    }
    .subtitle{
        font-size: 19px;
    }
    #stats{
        font-size: 40px !important;
    }
    #stats + p{
        font-size: 18px !important;
    }
    .start h1{
        font-size: 39px;
    }
    #top-text > *{
        margin: 0 10px;
    }
    .mainform{
        border-radius: 0;
    }
    /*---*/
    footer .contact{
        margin-top: 20px;
    }

    footer .mention {
        margin-left: 10vw;
    }

    footer.flex-row {
        display: initial;
    }

    #top-text{
        margin-right: 0;
        min-width: initial;
    }
    .paragraph{
        font-size: 16px;
    }
    p{
        font-size: 15px;
        margin: 0;
    }
    .quote{
        font-size: 35px;
    }
    .text-emphasis{
        font-size: 18px;
    }
    h2 {
        font-size: 30px;
    }
    .popup-content .btn{
        font-size: 15px;
    }
    #call-out-subject > label{
        margin-right: 0 !important;
        font-size: 13px;
    }
    #call-out-subject > textarea{
        font-size: 12px !important;
    }
}
@media screen and (max-width:400px) {
    #stats + p{
        font-size: 14px !important;
    }
    .stats img{
        width: 20px !important;
        height: 20px !important;
    }
    .start .stats{
        min-width: initial;
    }
}
@media screen and (max-width:350px) {
    .start h1{font-size: 48px !important}
}
